/*div[class^="col"],
div[class*=" col"] {
    border: 1px double red;
}

div[class^="cont"],
div[class*=" cont"] {
    border: 1px dotted black;
}

div[class^="row"],
div[class*=" row"] {
    border: 1px double blue;
}

div
{
    border: 1px double blueviolet;
}

img
{
    border: 1px double green;
}

div[class^="view"],
div[class*=" view"] {
    border: 1px double yellow;

}

div[class^="card"],
div[class*=" card"] {
    border: 1px double chocolate;
}*/

.nav-section > .active > .nav-link
{
    background: rgba(135,206,250, 0.3);
}

