# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build and Deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-deploy:

    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [12.16.3]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - run: yarn --frozen-lockfile
    - run: yarn build
        
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@3.6.1
      with:
       github_token: ${{ secrets.GITHUB_TOKEN }}
       branch: gh-pages
       folder: build
       clean: true
